
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================
fonts
==================== */

@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff2"),
        url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff"),
        url("../fonts/vazir/Vazir-Bold-FD-WOL.ttf") format("truetype");
}

/*
===================
Variables
===================
*/
:root {
    --clr-primary: #e2711d;
    --clr-primary-light: #ffb627;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-grey-11: #808080;
    --clr-white: #fff;
    --ff-primary: "vazir", sans-serif;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}
body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    text-align: right;
    font-size: 1rem;
}
img {
    display: block;
    width: 100%;
}
.section-center
{
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}
.about-titile h3
{
    color: var(--clr-primary-light);
    margin-top: 1rem;
}
.about-titile h2
{
    margin-top: 1rem;
}
.about-titile
{
    margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}
a
{
    text-decoration: none;
}
.btn {
    background: var(--clr-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    color: var(--clr-white);
    transition: var(--transition);
    display: inline-block;
}

.btn:hover {
    background: var(--clr-primary-light);
    color: var(--clr-primary);
}

.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: block;
}

h1
{
    font-size: 1.5rem;
}
h2
{
    font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}
/*
===================
Animation
===================
*/
@keyframes bounce
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(2);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes slideFromTop
{
    0%
    {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideFrombottem
{
    0%
    {
        transform: translateY(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

/*
===================
navbar
===================
*/
.nav-btn
{
    font-size: 1.5rem;
    color: var(--clr-primary);
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
    animation: bounce 2s ease infinite;
}
.navbar
{
    position: fixed;
    top:0 ;
    right: 0;
    background: var(--clr-grey-10);
    z-index: 2;
    height: 100%;
    width: 100%;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: var(--transition);
}
.showNav {
    transform: translate(0);
}
.navbar-header
{
    text-align: left;
}
.nav-close
{
    font-size: 2rem;
    color: #f29c9c;
    cursor: pointer;
    transition: var(--transition);
}
.nav-close:hover {
    color: #bb2525;
}
.nav-items
{
    list-style-type: none;
    direction: rtl;
}
.nav-link
{
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: var(--clr-grey-5);
    transition: var(--transition);
}
.nav-link i{
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.nav-link:hover {
    background: var(--clr-primary-light);
    border-right: 0.25rem solid var(--clr-primary);
    padding-right: 1.5rem;
    color: var(--clr-primary);
}
@media screen and (min-width: 768px) {
    .navbar {
        width: 22vw;
        max-width: 20rem;
    }
}

/*
===================
header
===================
*/
.header{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/IMG_8481.jpeg) center/cover no-repeat fixed;
    position: relative;
}
.banner
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner h1
{
    color: var(--clr-primary);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    animation: slideFromTop 2s ease-in-out 1;
}
.banner h2
{
    margin-bottom: 2rem;
    color: var(--clr-white);
    font-size: 1.2rem;
    animation: slideFrombottem 2s ease-in-out 1;
}
.btn-banner
{
    font-size: 1.25rem;
    outline: 0.125rem solid var(--clr-primary);
    outline-offset: 0.25rem;
    padding: 0.3rem 1.5rem;
    animation: slideFrombottem 2s linear 1;
    
}
.content-divider
{
    height: 0.5rem;
    background: linear-gradient(
        to left,
        var(--clr-primary),
        var(--clr-primary-light),
        var(--clr-primary)
    );
}
/*
===================
feature
===================
*/

.feature
{
    text-align: center;
    padding: 2.5rem 0;
    transition: var(--transition);
}
.featur-img img
{
    width:10rem;
    height:10rem;
    margin-bottom: 1.25rem;
    display: inline-block;

}
.feature:hover {
    background: var(--clr-white);
    box-shadow: 0 2px 0 var(--clr-primary);
}
.feature:hover .featur-img img
{
    transform: translateY(-10px);
    transition: var(--transition);
}

.featur-title
{
    margin-bottom: 1rem;
}
.feature-text
{
    color: var(--clr-grey-11);
    max-width: 17rem;
    margin: 0 auto;
}
@media screen and (min-width : 576px){
    .feature
    {
        float: right;
        width: 50%;
    }
    
}
@media screen and (min-width : 1200px){
    .feature
    {
        float: right;
        width: 25%;
    }
    
}
/*
===================
about
===================
*/

.about-pic
.about-info
{
    padding:2rem 0;
}
.about-img
{
    background: var(--clr-primary-light);
    max-width: 30rem;
    border: 0.3rem solid var(--clr-primary);
    border-radius: var(--radius);
    overflow: hidden;
  
}
.about-pic:hover .about-img
{
    transform: scale(1.2);
    opacity: 0.5;
}
.about-img
{
    transition: var(--transition);
}
.about-text
{
    color: var(--clr-grey-11);
}
.about-btn
{
    margin-top: 2rem;
}
@media screen and (min-width: 992px) {
    .about-pic {
        float: left;
        width: 50%;
    }

    .about-info {
        float: right;
        width: 50%;
    }
}

/*
===================
products
===================
*/
.products
{
    background: var(--clr-grey-10);
}
.products article
{
    padding: 2rem 0;
}
.product-text
{
    color:var(--clr-grey-11);
    margin-left: auto;
    max-width: 26rem;
}
.product-title
{
    direction: rtl;
}
.btn-product
{
    margin-top: 1.5rem;
}
.product
{
    margin-bottom: 2rem;
    
}
.product-img
{
    border-radius: var(--radius);
    margin-bottom: 1rem;
    height: 17rem;
    object-fit: cover;
}
.product-price
{
    color:var(--clr-primary);
    direction: rtl;
}
@media screen and (min-width: 768px) {
    .product {
        float: right;
        width: 50%;
        padding-left: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .product {
        width: 33.3%;
    }
}

@media screen and (min-width: 1200px) {
    .products-info {
        float: right;
        width: 30%;
    }
    
    .product-card {
        float: left;
        width: 70%;
    }

    .basket-details{
        float: left;
        width: 65%;
    }

    .product {
        padding-left: 0;
        padding-right: 2rem;
        margin-bottom: 0;
    }
}
/*
===================
services
===================
*/
.service-title
{
    text-align: center;
}
.service-card
{
    background :var(--clr-grey-10);
    margin: 2rem 0;
    border-radius: var(--radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}
.service-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
.service-img
{
    height: 17rem;
    border-top-left-radius:var(--radius);
    border-top-right-radius:var(--radius);
    object-fit: cover;
    
}
.service-info
{
    text-align: center;
    padding: 3rem 1rem 2.5rem 1rem;
}
.service-info p {
    color: var(--clr-grey-5);
    max-width: 20rem;
    margin: 1rem auto;
}

@media screen and (min-width: 768px) {
    .service-card {
        float: right;
        width: 45%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 992px) {
    .service-card {
        width: 30%;
        margin-left: 3.33%;
    }
}


.service-img-contain {
    position: relative;
}

.service-icon {
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 1.75rem;
    color: var(--clr-primary);
    transform: translate(-50%, 50%);
    background: var(--clr-primary-light);
    padding: 0.5rem 0.7rem 0.1rem 0.7rem;
    border-radius: 50%;
    border: 0.375rem solid var(--clr-grey-10);
}
/*
===================
Contact Us
===================
*/
.contact
{
    background:var(--clr-grey-10);
}
.contact article
{
    margin: 1rem 0;
}
.contact-item
{
    margin-bottom: 2rem;
}
.contact-title
{
    color: var(--clr-primary);
    font-weight: 400;
    direction: rtl;
}
.contact-text
{
    font-size: 1.1rem;
}
.contact-form
{
    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    max-width: 35rem;
}
.contact-form:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
    color: var(--clr-grey-5);
    padding-top: 1.25rem;
}
.form-contact
{
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.75rem 1rem;
    border: none;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    direction: rtl;
    max-width: 35rem;
}
.form-contact::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
}
.form-group
{
    padding: 1rem 1.5rem;
}
.submit-btn
{
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    font-family: var(--ff-primary);
}
@media screen and (min-width: 992px) {
    .contact article {
        float: right;
        width: 50%;
    }
}
/*
===================
footer
===================
*/
.footer
{
    background :var(--clr-grey-1);
    text-align: center;
    color: var(--clr-white);
}
.footers-icon
{
    color: var(--clr-white);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display :inline-block;
    transition: var(--transition);
}
.footers-icon :hover
{
    color: var(--clr-primary);
}
.footer-text
{
    font-size: 1rem;
    direction: rtl;
}
.company
{
    color: var(--clr-primary);
    font-size: 1.3rem;
}

form {

   
    max-width:37rem; /* Set a maximum width for the form */
    padding:1rem; /* Add some padding around the form */
    margin: auto;
    
  }

  /* Style the search input */
#search-input {
    width: 100%; /* Make the input take up the full width of the form */
    height: 40px; /* Set the height of the input */
    padding: 10px; /* Add some padding to the input */
    font-size: 18px; /* Set the font size of the input */
    border: none; /* Remove the default border from the input */
    border-radius: 10px; /* Add a rounded corner to the input */
    direction: rtl;
    font-family: var(--ff-primary);
  }
.icon-search
{
    color: var(--clr-grey-11);
    position: absolute;
    margin-left: -34.5rem;
    font-size: 1.5rem;
    margin-top: 0.3rem;
}




.container {

    width: 50%;
    float: left;
    margin-left: -25rem;
    margin-top: -3.5rem;
}

.basket{
    border: gray solid 1px;
    border-radius: 30px;
    background-color: #ffffff;
}
.delete-btn{
    text-decoration: none;
    color: red;
}
.btn-login, .btn-register {

    width: 100px;

    height: 40px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;

    font-weight: bold;
 
    color: var(--clr-grey-11);
    font-family: var(--ff-primary);
    border: var(--clr-primary-light);


}

.btn-primary
{
    width: 3rem;
    height: 2.5rem;
    background: var(--clr-white);
    border-radius:10px;
    font-size: 1.5rem;
    color: var(--clr-grey-11);
    float: left;
    margin-top: -3.5rem;
    border: #102a42;
    cursor: pointer;
    margin-left: 1rem;
}

.cart-count {

    position: absolute;
    float: left;
    background-color: #ff0000;
  
    color: #fff;
  
    padding: 3px 6px;
  
    border-radius: 50%;
  
    font-size: 10px;
    top: 10px;
    left:12px;
  
  }

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}

td{
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
    color: gray;
}


tr {
    background-color: #ffffff;
}

.count {
    border-radius: 30px;
    border-color: var(--clr-primary);
    font-size: 22px;
    text-align: center;
    margin-right: 20rem;
    background-color: var(--clr-primary);
    color: #ffffff;
}

.tech-specific {
    margin-top: 50px;
}

.appearance-specific{
    margin-top: 50px;

}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input , textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #e2711d;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.order {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}